<% content_for :title, "New task" %>

<h1 style="text-align: center;">New task</h1>

<div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
  <%= render "form", task: @task %>
</div>

<br>

<div style="text-align: center;">
  <%= link_to "Back to tasks", tasks_path %>
</div>